html {
  height: 100%;
  overflow:hidden;
  font-family: Oswald, sans-serif;
}
body {
  height: 90%;
}
#content {
  position:relative;
  height:90%;
  width:100%;
}
#loading {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  width: 100%;
  
}
#UI, #multiGraph, #graph-frame, #map-holder, #gene-holder {
  width: 100%;
  height: 100%;
}
#graph-frame { width: 83%;}

#multiGraph {
  display: flex;
  align-items: flex-start;
}
#tabBox {
  display: flex;
  align-items: flex-start;
}
.graphTab {
  position: relative;
  top: 2px;
  padding: 5px;
  margin-left: 3px;
  border-radius: 0 0 9px 9px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: pink;
  cursor: pointer;
}
.currTab {
  background-color: lime;
}
.aboutTab {
  margin-left: auto;
  margin-right: 3px;
}
#genealogy {
  overflow-x: scroll;
  overflow-y: hidden;
}

/*CANNOT GET THIS TO WORK */
#genealogy::-webkit-scrollbar-track {
    background-color: transparent;
}

#map, #genealogy {
  height: 100%;
  z-index: 20;
}
#map, #genealogy, #aboutModal {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.link {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
  opacity: .9;
}
.node {
  cursor: pointer;
}
.node circle {
  stroke: steelblue;
  stroke-width: 1.5px;
}
.clicked { fill: pink }
.node text {
  font: 10px sans-serif;
}
.hidden {
  visibility: hidden;
}
#aboutModal {
  position:absolute;
  top:50%;
  left:50%;
  z-index: 102;
  background-color: azure;
  transform: translate(-50%, -50%);
  padding: 5px;
}
#modalBlanket {
  position: absolute;
  top: -15%;
  left: -10%;
  z-index: 101;
  cursor: pointer;
}
#closeButton {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
#markerCounter {
  position: absolute;
  z-index: 100;
  top: 2px;
  right: 2px;
  margin-right: 6px;
}
.state {
  fill: azure;
  stroke: grey;
}
.mark {
  fill: pink;
  cursor: pointer;
  stroke: grey;
  opacity: 0.75;
}
.markRed {
  stroke: red;
  opacity: 0.95;
}
.summary {
  background-color: pink;
  cursor: pointer;
}
.filterBox {
  padding: 2px;
  /*height: 30vh;*/
}
svg {z-index: -2;}
#nonMapBoxes {
  z-index: 100;
  display: flex;
  flex-direction: column;
  text-align:center;
  height: 100%;
  margin-right: 20px;
  width: 15%;
  overflow-y: auto;
}
.detailsBox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}/*min-height: 50vh;*/
.detailsBox, .filterBox {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 4px;
}
.clearBorders {
  border-color: transparent;
}
.noBottom {
  border-bottom-style: none;
}
.detailBoxItem {
  position: relative;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  z-index: 20;
  cursor: pointer;
}

.geneDetailHeader {
  background-color: grey;
  cursor: default;
}

.Gold { background: gold; }
.Silver { background: silver; }
.Bronze { background: #CD7F32; }

.headerYear {
  font-size: 10pt;
  font-weight: bold;
  color: white;
}
.detailYear {
  position: absolute;
  right: 2px;
  top: -3px;
  font-size: 15pt;
  font-weight: bold;
  color: white;
  z-index: -1;
}
.detailStyle {
  font-weight: bold;
  text-decoration: underline;
  font-size: 10pt;
}
.detailBeer {
  font-weight: bold;
  font-size: 12pt;
}
.detailBrewery {
  font-style: italic;
  font-size: 10pt;
}
.detailLoc {
  font-size: 8pt;
}

.filter {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  font-family: Oswald, sans-serif;
  margin-bottom: 2px;
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.filterSelection {
  position: absolute;
  font-style: italic;
  background-color: grey;
  max-height: 70%;
  opacity: 0.8;
  cursor: pointer;
  overflow-y: auto;
  width: 200px;
  z-index: 50;
}
.filterOn {
  font-style: normal;
  background-color: azure;
}