html {
  height: 100%;
}
body {
  height: 90%;
}
#content {
  position:relative;
  height:90%;
  width:100%;
}
#loading {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -10;
  top: 50%;
  width: 100%;
  
}
#UI {
  height:100%;
  width: 100%;
}
#map-holder, #map-frame {
  width: 100%;
  height: 100%;
}
#multiGraph {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
#tabBox {
  display: flex;
  align-items: flex-start;
}
.graphTab {
  position: relative;
  top: -18px;
  padding: 5px;
  margin-left: 3px;
  border-radius: 0 0 9px 9px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: pink;
  cursor: pointer;
}
.currTab {
  background-color: lime;
}

#detailsBox {
  display: flex;
  flex-direction: column;
}

#map {
  width: 90%;
  height: 100%;
  z-index: 20;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  transform: translate(0, -20px);   /*Not sure why the formatting is messed up by 20 pixels...*/
}
#markerCounter {
  position: relative;
  width: 50px;
  z-index: 100;
  top: -100%;
  right: -86%;
  background-color: orange;
}
.state {
  fill: azure;
  stroke: grey;
}
.mark {
  fill: pink;
  stroke: grey;
  opacity: .9;
  cursor: pointer;
}
.summary {
  background-color: pink;
  cursor: pointer;
}
.filterBox {
  width: 15%;
  border-radius: 2px;
}
.filter {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  margin-top: 2px;
}
.filterSelection {
  position: absolute;
  font-style: italic;
  background-color: grey;
  max-height: 70%;
  width: 15%;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}
.filterOn {
  font-style: normal;
  background-color: lime;
}