html {
  height: 100%;
  overflow:hidden;
  font-family: Oswald, sans-serif;
}
body {
  height: 90%;
}
#content {
  position:relative;
  height:90%;
  width:100%;
}
#loading {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  width: 100%;
  
}
#UI, #multiGraph, #graph-frame, #map-holder, #gene-holder {
  width: 100%;
  height: 100%;
}
#graph-frame { width: 83%;}

#multiGraph {
  display: flex;
  align-items: flex-start;
}
#tabBox {
  display: flex;
  align-items: flex-start;
}
.graphTab {
  position: relative;
  top: 2px;
  padding: 5px;
  margin-left: 3px;
  border-radius: 0 0 9px 9px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: pink;
  cursor: pointer;
}
.currTab {
  background-color: lime;
}
#geneology {
  overflow-x: scroll;
  overflow-y: hidden;
}
#map, #geneology {
  height: 100%;
  z-index: 20;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.link {
  fill: none;
  stroke-width: 1.5px;
  opacity: 0.7;
}
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
}
.hidden {
  visibility: hidden;
}
#markerCounter {
  position: relative;
  width: 50px;
  z-index: 100;
  top: -105%;
  left: 91%;
  background-color: orange;
}
.state {
  fill: azure;
  stroke: grey;
}
.mark {
  fill: pink;
  cursor: pointer;
}
.summary {
  background-color: pink;
  cursor: pointer;
}
.filterBox {
  height: 30vh;
}
svg {z-index: -2;}
#nonMapBoxes {
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
  min-width: 15%;
  overflow-y: auto;
}
#detailsBox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}/*min-height: 50vh;*/
#detailsBox, .filterBox {
  border-style: solid;
  border-color: green;
  border-width: 2px;
  border-radius: 4px;
}
.detailBoxItem {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: green;
}
.filter {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  font-family: Oswald, sans-serif;
  margin-bottom: 2px;
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.filterSelection {
  position: absolute;
  font-style: italic;
  background-color: grey;
  max-height: 70%;
  opacity: 0.8;
  cursor: pointer;
  overflow-y: auto;
  min-width: 32vh;
}
.filterOn {
  font-style: normal;
  background-color: lime;
}