html {
  height: 100%;
  overflow:hidden;
  font-family: Oswald, sans-serif;
}
body {
  height: 90%;
}
#content {
  position:relative;
  height:90%;
  width:100%;
}
#loading {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -10;
  top: 50%;
  width: 100%;
  
}
#UI {
  height:100%;
  width: 100%;
}
#map-holder, #map-frame, #gene-holder {
  width: 100%;
  height: 100%;
}

#multiGraph {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
#tabBox {
  display: flex;
  align-items: flex-start;
}
.graphTab {
  position: relative;
  top: 2px;
  padding: 5px;
  margin-left: 3px;
  border-radius: 0 0 9px 9px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: pink;
  cursor: pointer;
}
.currTab {
  background-color: lime;
}
#nonMapBoxes {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20px;
}

#detailsBox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 50vh;
}
#detailsBox, .filterBox {
  border-style: solid;
  border-color: green;
  border-width: 2px;
  border-radius: 4px;
}
.detailBoxItem {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: green;
}

#map, #geneology {
  height: 100%;
  z-index: 20;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-right: 20px;
}
#markerCounter {
  position: relative;
  width: 50px;
  z-index: 100;
  top: -105%;
  left: 91%;
  background-color: orange;
}
.state {
  fill: azure;
  stroke: grey;
}
.mark {
  fill: pink;
  cursor: pointer;
}
.summary {
  background-color: pink;
  cursor: pointer;
}
.filterBox {
  height: 30vh;
  min-width: 40vh;
}
.filter {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  font-family: Oswald, sans-serif;
  margin-bottom: 2px;
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.filterSelection {
  position: absolute;
  font-style: italic;
  background-color: grey;
  max-height: 70%;
  width: 40vh;
  opacity: 0.8;
  cursor: pointer;
  overflow-y: auto;
}
.filterOn {
  font-style: normal;
  background-color: lime;
}